node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


dist/
coverage/
.DS_Store
*.tsbuildinfo


.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local # Padrão mais genérico


logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.pid
*.seed
*.pid.lock


.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace
*.sublime-project
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? # Vim swap files


Thumbs.db
ehthumbs.db
Desktop.ini



*.dump
*.sql
*.sqlite

